ASPNETCORE_ENVIRONMENT=Development
FLEETOPS_API_URL=http://localhost:5080
FLEETOPS_WEB_URL=http://localhost:5183

MSSQL_SA_PASSWORD=ChangeThis_LocalOnly_123!
MSSQL_PORT=14333
MINIO_ROOT_USER=fleetops
MINIO_ROOT_PASSWORD=ChangeThisMinio_LocalOnly
MINIO_PORT=9010
MINIO_CONSOLE_PORT=9011
MQTT_PORT=1883
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

SIM_ORGANIZATION_ID=00000000-0000-0000-0000-000000000001
SIM_VEHICLE_ID=00000000-0000-0000-0000-000000000101
SIM_DEVICE_ID=SIM-GPS-001
